<template id="xpath-action-pattern-select-template">
  <option value="10" data-i18n="eventPatternSelect10">10 - ネイティブselect（単一選択）</option>
  <option value="20" data-i18n="eventPatternSelect20">20 - カスタムコンポーネント（単一選択）</option>
  <option value="30" data-i18n="eventPatternSelect30">30 - Select2/jQuery（単一選択）</option>
  <option value="110" data-i18n="eventPatternSelect110">110 - ネイティブselect（複数選択）</option>
  <option value="120" data-i18n="eventPatternSelect120">120 - カスタムコンポーネント（複数選択）</option>
  <option value="130" data-i18n="eventPatternSelect130">130 - Select2/jQuery（複数選択）</option>
</template>
