<template id="xpath-action-pattern-getvalue-template">
  <option value="10" data-i18n="getValuePatternValue">10 - value属性 (input/select/textarea)</option>
  <option value="20" data-i18n="getValuePatternTextContent">20 - textContent</option>
  <option value="30" data-i18n="getValuePatternInnerText">30 - innerText</option>
  <option value="40" data-i18n="getValuePatternInnerHTML">40 - innerHTML</option>
  <option value="50" data-i18n="getValuePatternDataAttribute">50 - data-* 属性</option>
</template>
